eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8766
spring:
  application:
    name: service-feign
#开启feign自带的断路器
feign:
  hystrix:
    enabled: true